header {
    width: 100%;
}

footer {
    bottom: 0;
    position: fixed;
    width: 100%;
}

h1, h2, h3, h4{
    font-size: 32px;
    font-family: Arial;
    text-align: center;
    padding: 1%;
}

h3, h4 { clear: none; }

h1 {
    background-color: red;
    float: left;
    
}

h2 {
    background-color: blue;
    float: right;
}

h3 {
    background-color: yellow;
    float: left;
}

h4 {
    background-color: green;
    float: right;
}